<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on Our site</title>
</head>
<body>
<div>
    <h3>
        Dear $USERNAME$ !
    </h3>
    <br>
    <p>
        Welcome in our project X website. <br>
        Your username is: $USERNAME$ <br>
        and your password is: $PASSWORD$ <br>
    </p>
    <button class="button">Click here to log in!</button>
    <br>
    <br>
    <p>
        Regards, <br>
        System Administrators"
    </p>
    </h3>
</div>
</body>
</html>
